body{
    margin: 0;
}

.login-div{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #21EBC4;
 }

.login-form{
    width: 300px;
    margin: auto;
    height: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px 25px 40px;
    background-color: white;
    border-radius: 5px;
}
.logo-div{
    text-align: center;
}
.logo-div img{
    width: 100px;
}
.logo-div span{
    font-weight: bold;
    font-size: 25px;
}
.login-form form > div > div{
    width: 100% !important;
}
.login-form .login-btn{
    margin-top: 25px;
    background-color: #4DAF9C !important;
}